In [ ]:
## Service Resilience Index (SRI) — Pilot Interpretation

For this pilot, SRI measures **how resilient Puducherry’s Aadhaar service delivery**
has been to month-to-month demand fluctuations.

With a single region, SRI should be interpreted as:
- A **time-varying fragility signal**
- Not a spatial comparison

Higher SRI values indicate periods where Puducherry’s system
would have struggled to absorb demand shocks.

In [1]:
import pandas as pd
from pathlib import Path

BASE_DIR = Path("..").resolve()

df = pd.read_csv(
    BASE_DIR / "data" / "processed" / "aadhaar_monthly_merged.csv"
)

df.head()

    region_id    month  enrolments  biometric_updates
0  Puducherry  2025-09           1                 12
1  Puducherry  2025-09           1                  3
2  Puducherry  2025-09           1                  6
3  Puducherry  2025-09           1                  1
4  Puducherry  2025-09           1                 15

In [3]:
import sys
from pathlib import Path

# Add project root to Python path
PROJECT_ROOT = Path("..").resolve()
if str(PROJECT_ROOT) not in sys.path:
    sys.path.insert(0, str(PROJECT_ROOT))

In [4]:
from src.indices.service_resilience_index import compute_service_resilience_index

sri_df = compute_service_resilience_index(df)
sri_df.head()

    region_id    month  sri_score sri_category
0  Puducherry  2025-09  -0.696452       Stable
1  Puducherry  2025-09  -0.272371       Stable
2  Puducherry  2025-09  -0.342865       Stable
3  Puducherry  2025-09  -0.534098       Stable
4  Puducherry  2025-09   1.060471      Fragile