In [ ]:
## Continuity Break Risk (CBR) â€” Pilot Interpretation

In this pilot, CBR estimates **future continuity risk for Puducherry**
arising from:
- Delayed biometric updates
- Accumulating enrolment-update gaps
- Lifecycle-related update pressure (proxy-based)

CBR is a **forward-looking risk signal**, not a failure prediction.

In [1]:
import pandas as pd
from pathlib import Path

BASE_DIR = Path("..").resolve()

df = pd.read_csv(
    BASE_DIR / "data" / "processed" / "aadhaar_monthly_merged.csv"
)

df.head()

    region_id    month  enrolments  biometric_updates
0  Puducherry  2025-09           1                 12
1  Puducherry  2025-09           1                  3
2  Puducherry  2025-09           1                  6
3  Puducherry  2025-09           1                  1
4  Puducherry  2025-09           1                 15

In [2]:
import sys
from pathlib import Path

# Add project root to Python path
PROJECT_ROOT = Path("..").resolve()
if str(PROJECT_ROOT) not in sys.path:
    sys.path.insert(0, str(PROJECT_ROOT))

In [3]:
from src.indices.continuity_break_risk import compute_continuity_break_risk

cbr_df = compute_continuity_break_risk(df)
cbr_df.head()

    region_id    month  cbr_score risk_band
0  Puducherry  2025-09   -0.32333       Low
1  Puducherry  2025-09   -0.32333       Low
2  Puducherry  2025-09   -0.32333       Low
3  Puducherry  2025-09   -0.32333       Low
4  Puducherry  2025-09   -0.32333       Low